# Entorno Virtual
.venv/
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de variables de entorno
.env

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos de IDEs/Editores
.vscode/
.idea/